body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 3em;
}

#outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#input {
    font-size: 1.4em;
    max-width: 4em;
}

#container {
    margin: 1em;
    flex-wrap: wrap;
    border: black 2px solid;
    gap: 0px;
    height: 450px;
    width: 450px;
}

#clear, #submitBtn {
    align-self: center;
    font-size: 1.4em;
    margin: 20px 5px 0px 0px;
}

.box {
    margin: 0px;
}

